asgiref==3.4.1
astroid==2.0.4
backcall==0.2.0
certifi==2021.5.30
chardet==5.0.0
charset-normalizer==2.0.12
colorama==0.4.4
copydetect==0.4.2
cycler==0.11.0
decorator==5.1.1
Django==3.2.16
django-cors-headers==3.13.0
entrypoints==0.3
et-xmlfile==1.1.0
flake8==3.9.2
fonttools==4.38.0
idna==3.4
importlib-metadata==4.6.1
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.18.0
Jinja2==3.1.2
jupyter-client==6.2.0
jupyter-core==4.7.1
kiwisolver==1.4.4
lazy-object-proxy==1.3.1
MarkupSafe==2.1.1
matplotlib==3.5.3
mccabe==0.6.1
multimetric==1.3.0
memory_profiler==5.9.4
nest-asyncio==1.5.1
numpy==1.21.6
openai==0.25.0
openpyxl==3.0.10
packaging==21.3
pandas==1.3.5
pandas-stubs==1.2.0.62
parso==0.8.2
pickleshare==0.7.5
Pillow==9.3.0
prompt-toolkit==3.0.19
pycodestyle==2.7.0
pydocstyle==6.1.1
pyflakes==2.3.1
Pygments==2.9.0
pylama==7.7.1
pylint==2.1.1
pyparsing==3.0.9
python-dateutil==2.8.1
python-dotenv==0.21.0
pytz==2022.4
pywin32==301
pyzmq==22.1.0
requests==2.27.1
six==1.11.0
snowballstemmer==2.2.0
sqlparse==0.4.3
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
typing_extensions==4.1.1
urllib3==1.26.12
wcwidth==0.2.5
wincertstore==0.2
wrapt==1.10.11
zipp==3.5.0
