asgiref
chardet
charset-normalizer
django-cors-headers
entrypoints
fonttools
idna
ipython-genutils
Jinja2
jupyter-client
jupyter-core
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
nest-asyncio
numpy
openai
openpyxl
packaging
pandas
pandas-stubs
parso
pickleshare
prompt-toolkit
python-dateutil
python-dotenv
pyzmq
requests
zipp
