.numberButton{
  position: relative;
  padding: 0;
  text-align: center;
  border: 0;
  font-size: 150%;
  font-weight: bold;
  border-radius: 50%;
}

.spacer3percent{
  margin-top: 5%;
  width: 3%;
  float: right;
}